@CHARSET "ISO-8859-1";

#backgroundvideo{
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%
}
.cancel{
	background-color: orange;
}

p {
	top: 600px;
	text-align: justify;
	color: #EC8224;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
	line-height: 2;
}

a:link {
	margin-left: 100px;
	color: #ff6600;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}
.box{
	
	 background-color: orange;
    width: 300px;
    border: 25px ;
    padding-top:25px;
    margin-left: 500px;
	
}
.container {
	width: 200px;
	clear: both;
	padding: 50px;
	
}

.container input {
	width: 100%;
	clear: both;
	text-align: center;
	padding:10px;
}

.container2 {
	width: 300px;
	clear: both;
	padding-top: 100px;
	padding-left: 500px;
	color: orange;
	text-weight: bold;
	font-style: italic;
	font-size: 25px;
}

.container2 input {
	width: 100%;
	clear: both;
	padding: 10px;
}

#button1 {
	margin-left:10px;
	height: 40px;
	width: 70px;
}

#button2 {
	margin-left: 50px;
	height: 40px;
	width: 70px;
}
#button3 {
	margin-left: 550px;
	height: 40px;
	width: 80px;
}

#button4{
	margin-left: 80px;
	height: 40px;
	width: 80px;
}