@CHARSET "ISO-8859-1";
body{
	background-image:url("/DemoProject/images/powerstation.jpg");
	background-size:1350px,400px;
}
a:link{
	color:#ff6600;
	text-decoration:none;
	padding:40px;
	font-size:30px;
	font-weight:bold;
	font-style:italic;	
}
header{
	top:0px;
	position:absolute;
	left:10px;
}
div.right{
	position:absolute;
	left:1000px;
	top:10px;
}
div.left{
	top:150px;
	position:absolute;	
}
p{
	font-weight:bold;
	font-style:italic;
	font-size:22px;
	position:absolute;
	top:150px;
	left:350px;
	color:ANTIQUEWHITE;
	text-align:justify; 
	line-height:1.5;
	target:_self;
}
